@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --primary-color: #ee9526;
  --secondary-color: #000000;
  --bg-color: #f5f5f5;
  --container:78%;
  --transition: all 0.3s ease-in-out;
  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  --width:0 auto;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
}

.container {
  width: var(--container);
  margin: var(--width);
}

/* Navbar Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 12%;
  background-color: #ffffff;
  height: 120px;
  border-bottom: 1px solid #ee9526;
}

.logo {
  bottom: 10px;
  width: 110px;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  color: #000000;
  font-weight: 500;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

nav #active {
  color: #ee9526;
  padding: 10px 0;
  border-bottom: 3px solid #ee9526;
}

/* Hover effect for navigation links */
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ee9526;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ee9526;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


nav ul li a:hover {
  color: #ee9526;
}

nav .btn-academy a {
  padding: 10px 25px;
  background-color: #ee9526;
  color: #000000;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

nav .btn-academy a:hover{
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid #ee9526;
  background-color: transparent;
}

/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  background: linear-gradient(to bottom, rgba(1, 4, 23, 0.947), rgb(1, 1, 5)), url("/img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll;
  background-position: center;
  background-clip: border-box;
  background-position-x: center;
}

.hero-text {
  color: #ffffff;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-btn .btn-explore {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 30px;
  background-color: #ee9526;
  color: #000000;
  font-weight: 600;
  transition: var(--transition);
}

.hero-btn .btn-more {
  margin: 0 10px;
  padding: 12px 30px;
  background-color: transparent;
  border: 2px solid #ee9526;
  color: #ffffff;
}

.hero-btn .btn-more:hover {
  background-color: #ee9526;
  color: #000000;
}

/* Actualites Section Styles */
.actualites {
  padding: 20px 0;
  background-color: #ffffff;
  height: 120vh;
}

.full-news {
  display: grid;
  grid-template-areas:
    "card-new-1 card-new-2 card-new-3"
    "card-new-1 card-new-4 card-new-5";
  grid-gap: 20px;
  border: 1px solid #cccfff;
}
.card-new-1 {
  grid-area: card-new-1;
  background-color: #ee9526;
}
.card-new-2 {
  grid-area: card-new-2;
  background-color: aquamarine;
}
.card-new-3 {
  grid-area: card-new-3;
  background-color: coral;
}
.card-new-4 {
  grid-area: card-new-4;
  background-color: lightblue;
}
.card-new-5 {
  grid-area: card-new-5;
  background-color: lightgreen;
}