@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    background: #f5f5f5;
}

/* Navbar Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    background-color: #ffffff;
    height: 120px;
    border-bottom: 1px solid #ee9526;
}

.logo {
    bottom: 10px;
    width: 110px;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}
/* Hover effect for navigation links */
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ee9526;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


nav ul li a:hover {
    color: #ee9526;
}

nav .btn-academy a {
    padding: 10px 25px;
    background-color: #ee9526;
    color: #000000;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
}